table{
	border-spacing: 0px;
}
table tr th{
	height: 30px;
	vertical-align: bottom;
}
table tr td{
	border: 1px solid #888888;
	padding: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
}	
table tr td:first-child{
	border:0px;
	border-right: 1px solid #888888;
	background: #cecece;
	text-align: right;
}
#mult tr.odd {
	background: #6ec3e1;
}
#mult tr.even {
	background: #cecece;
}
.multiplier_cell {
	font-size:16px;
	font-weight: bold;
}